@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f8f8f8;
    font-family: 'Poppins';
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #f8f8f8;
}
a {
    text-decoration: none;
}
a .bi .bi-search {
    text-decoration: none;
}
.tags .btn {
    margin: 18px 0 0 10px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', 'sans-serif';
}
.tags .btn:hover {
    opacity: 0.85;
}
/* .tags .size {

} */
.footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    margin: .8rem 0 1rem 0;
}
footer a {
    color: #d5d5d5;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    margin: .8rem 0 1rem 0;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}