@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Moon+Dance&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: aliceblue;
  font-family: 'Poppins';
  overflow-y: scroll;
  overflow-x: hidden;
}

/* .dark-mode {
  background-color: black;
  color: white;
} */

a {
  text-decoration: none;
}

.navbar {
  background: linear-gradient(to right, #0d6efd, #6610f2);
  transition: .8s;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: #bdb3b3;
}

.logo {
    border-radius: 500px;
    height: 50px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.card-title {
  display: flex;
}
/* .card-title:hover {
  font-family: 'Dynalight';
  display: block;
} */
.card-text {
  font-family: 'Kotta One';
}

.date {
  text-decoration: none;
  color: black;
  margin: 10px 0 0 1px;
}

.error {
  border-color: #ff3860;
}
.success {
  border-color: #09c372;
}

.card-subtitle span{
  font-family: 'Open Sans';
}

/* .card-post {
  background-image: url("../img/img2.jpg");
  color: white;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
} */

a .bi .bi-search {
  text-decoration: none;
}

.search-text {
  width: 100%;
}
.search {
  background-color: #6c757d;
  border: none;
}
.search:hover {
  background-color: #6c757d;
  border: none;
  color: white;
}
.search-text {
  border: none;
  border-bottom: 2px solid #6c757d;
}
input[type=text]::placeholder {
  font-family: 'Oswald', cursive;
}
.search-text:focus {
  box-shadow: none;
}

.profile:focus {
  border: 2px solid #6c757d;
  box-shadow: none;
}

/* Registration Form */
.registerCard {
  border-radius: 20px;
}

.registerForm input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: none;
}

.registerImage {
  box-shadow: #6610f2;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.tags .btn {
  margin: 5px 0 0 3px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', 'sans-serif';
}
.tags .btn:hover {
  opacity: 0.85;
}

.profile-picture {
  border-radius: 500px;
  height: 150px;
}

.footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a7e5d7;
}